<div class="tasks">
  <% if @project.tasks.present? %>
    <% @project.tasks.each do |each_task| %>
      <div class="each-task">
          <!-- Click in the image to open the task -->
          <a href="#" class="btn btn-default btn-to-modal" id="openBtn<%= each_task.id %>">
            <% if each_task.image_file.present? %>
              <%= image_tag(each_task.image_file.url(), class: "image-to-modal-prop") %>
            <% else %>
              <!-- [TODO] Add an alternative file -->
            <% end %>
          </a>


        <!-- Modal display -->
        <div id="myModal<%= each_task.id %>" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="myModalLabel"><%= each_task.title %></h3>
              </div>
              <div class="modal-body">


                <!-- Task body -->
                <!-- Display the task image -->
                <div class="task-overview">
                  <div class="task-image">
                    <% if each_task.image_file.present? %>
                      <%= image_tag(each_task.image_file.url(), class: "image-config") %>
                    <% else %>
                      <!-- [TODO] Add an alternative file -->
                    <% end %>
                  </div>



                  <!-- Display task information -->
                  <div class="task-information">
                    <dl>
                      <dt>
                        <h3>Maker:</h3>
                      </dt>
                      <dd>
                        <!-- Verify if the task is assigned to an user -->
                        <% if false %>
                          <!-- Verify if the user have an picture -->
                          <% if each_task.image_file.present? %>
                            <div class="contributor-image">
                              <% image_tag(each_task.image_file.url(), class: "image-config") %>
                            </div>
                          <% else %>
                            <!-- Do nothing -->
                          <% end %>
                        <!-- If it isn't assigned to any user -->
                        <% else %>
                          <!-- Display button to assign the task -->
                          <!--[TODO] Fix this link -->
                          <%= link_to "Be yourself!" , edit_project_path(@project), class: 'btn btn-default' %>
                        <% end %>
                      </dd>
                    </dl>
                  </div>



                  <!-- Display line to separate the circle of the task difficult -->
                  <div class="difficult-circle-container center-block">
                    <!-- Div to create a circle -->
                    <div class="difficult-circle">
                      <h1><%= each_task.difficult %></h1>
                    </div>
                  </div>
                </div><!-- End of task overview -->
                <hr>
                <div class="task-description">
                  <h3>Task description</h3>
                  <%= each_task.description %>
                </div><!-- End of task description-->

                <!-- End of task body -->

              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

<!-- Javascript to display the selected modal page -->
<%= javascript_tag do %>
  $("[data-toggle=modal]").popover();$('#openBtn<%= each_task.id %>').click(function(){
    $('#myModal<%= each_task.id %>').modal({show:true})
  });
<% end %>

      </div>
    <% end %>
  <% else %>
  <% end %>
</div>

