<!-- Set page title -->
<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<!-- Main block to list all projects -->
<div class="projects-container">
  <div class="inner-projects-container">
    <% @projects.each do |project| %>
      <%= link_to(project) do %>
        <div class="each-project">
          <div class="image">
            <%if project.image_file.present? %>
              <%= image_tag(project.image_file.url(), class: "image center-block") %>
            <%else%>
              <%= image_tag("pap_default_banner.jpg", class: "image center-block") %>
            <%end%>
          </div>
          <div class="title-author">
            <h3><%= project.title %></h3>
            <h6>By <%= project.author %></h6>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>  
</div>

<!-- Link to create a new project -->
<%= link_to t('.new', :default => t("helpers.links.new")), new_project_path, :class => 'btn btn-primary new-p-btn' %>