<!DOCTYPE html>
<html>
	<head>
		<title>Pick a Project</title>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag "nested_form" %>
		<%= csrf_meta_tags %>
	</head>
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
			<!-- Main Header -->
			<%= render  partial: "/layouts/header" %>

			<!-- Left side column. contains the logo and sidebar -->
			<%= render partial: "/layouts/sidebar_left" %>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<!-- Body with all content -->
					<ol class="breadcrumb">
						<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
						<li class="active">Here</li>
					</ol>
				</section>
				<!-- Main content -->
				<section class="content">
					<%= yield %>
				</section><!-- /.content -->
			</div><!-- /.content-wrapper -->

			<!-- Main Footer -->
			<%= render partial: "/layouts/footer" %>

			<!-- Control Sidebar -->
			<%= render partial: "/layouts/sidebar_control" %>
		</div><!-- ./wrapper -->
	</body>
</html>
