<!DOCTYPE html>
<html>
  <head>
    <title>Pick a Project</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Navigation Bar -->
    <div class="nav"><%= render "layouts/header" %></div>
    <!-- Content -->
    <div class="wrapper"><%= yield %></div>
    <!-- Footer -->
    <div class="footer"><%= render "layouts/footer" %></div>
  </body>
</html>
